[tool.bumpversion]
current_version = "1.3.6"
parse = "(?P<major>\\d+)\\.(?P<minor>\\d+)\\.(?P<patch>\\d+)"
serialize = ["{major}.{minor}.{patch}"]
commit = true
tag = true
tag_name = "v{new_version}"
commit_args = "--no-verify"
message = "chore: bump version to {new_version}"

[[tool.bumpversion.files]]
filename = "custom_components/dynamic_energy_contract_calculator/manifest.json"
search = '"version": "{current_version}"'
replace = '"version": "{new_version}"'

[[tool.bumpversion.files]]
filename = "setup.cfg"
search = "current_version = {current_version}"
replace = "current_version = {new_version}"
